<?xml version="1.0"?>
<launch>
  <include file="$(find cpr_office_gazebo)/launch/office_world.launch">
    <arg name="gui" value="false"/>    
    <arg name="headless" value="true"/>
    <!--arg name="world_name" value="$(find husky_gazebo)/worlds/singlePillar.world"/-->
    <!--arg name="laser_enabled" value="true"/-->
  </include>

  <!--node name="husky_highlevel_controller" pkg="husky_highlevel_controller" type="husky_highlevel_controller" output="screen"-->
  <node name="husky_highlevel_controller" pkg="husky_highlevel_controller" type="husky_highlevel_controller">
  	<rosparam command="load" file="$(find husky_highlevel_controller)/config/params.yaml"/>
  </node>

  <!--node name="husky_highlevel_controller_sensor_data" pkg="husky_highlevel_controller" type="husky_highlevel_controller_sensor_data" output="screen"-->
  <node name="husky_highlevel_controller_sensor_data" pkg="husky_highlevel_controller" type="husky_highlevel_controller_sensor_data">
  	<rosparam command="load" file="$(find husky_highlevel_controller)/config/params.yaml"/>
  </node>

  <!--node name="husky_highlevel_controller_action_client" pkg="husky_highlevel_controller" type="husky_highlevel_controller_action_client" output="screen"-->
  <node name="husky_highlevel_controller_action_client" pkg="husky_highlevel_controller" type="husky_highlevel_controller_action_client">
  	<rosparam command="load" file="$(find husky_highlevel_controller)/config/params.yaml"/>
  </node>
  
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
  
  

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find husky_highlevel_controller)/rviz/config.rviz" >
  	
  </node>
  
</launch>
